<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="@{/layout}"
>
	<head>
		<title>User CU</title>
	</head>
	
	<body>
		<div layout:fragment="content" id="page-wrapper">
<div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title" th:text="#{adduser}">Add User</h4> </div>
                    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="" target="_blank" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Buy Now</a>
                        <ol class="breadcrumb">
                            <li><a href="index.html " th:text="#{hospital}">Hospital</a></li>
                            <li class="active" th:text="#{adduser}">Add Patient</li>
                        </ol>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Basic Information</h3>
                            <form action="/user-update" method="post" th:object="${User}" class="form-material form-horizontal">
                            
                                <div class="form-group">
                                    <label th:inline="text" class="col-md-12" for="example-text">
                                    	<b>[[#{userhash}]]</b>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" id="example-text" th:attr="value=${userhash}" name="userhash" class="form-control" readonly="readonly" placeholder="enter your user hash"> </div>
                                </div>                            	                        
                            
                                <div class="form-group">
                                    <label th:inline="text" class="col-md-12" for="example-text">
                                    	<b>[[#{name}]]</b>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" id="example-text" th:attr="value=${username}" name="username" class="form-control" placeholder="enter your name"> </div>
                                </div>
                                
                                <div class="form-group">
                                    <label th:inline="text" class="col-md-12" for="example-text">
                                    	<b>[[#{email}]]</b>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" id="example-text" th:attr="value=${email}" name="email" class="form-control" placeholder="enter your email"> </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <label th:inline="text" class="col-sm-12"><b>[[#{sex}]]</b></label>
                                    <div class="col-sm-12">
                                        <select class="form-control" name="gender">
                                            <option>Select Gender</option>
                                            <option th:attr="selected = ${gender}=='M' ? 'selected'">M</option>
                                            <option th:attr="selected = ${gender}=='F' ? 'selected'">F</option>
                                        </select>
                                    </div>
                                </div>                                
                                
                                <div class="form-group">
                                    <label th:inline="text" class="col-md-12" for="example-text">
                                    	<b>[[#{phonenumber}]]</b>
                                    </label>
                                    <div class="col-md-12">
                                        <input type="text" id="example-text" th:attr="value=${phonenumber}" name="phonenumber" class="form-control" placeholder="enter your phone"> </div>
                                </div>                                                              
                                

                                <button th:text="#{update}" type="submit" class="btn btn-info waves-effect waves-light m-r-10">Update</button>
                                <button th:text="#{cancel}" type="submit" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
  
        	</div>
		</div>
		

	</body>
</html>