<div class="navbar-default sidebar" role="navigation" style="overflow: visible;">
	<div class="slimScrollDiv" style="position: relative; overflow: visible; width: auto; height: 100%;">
  		<div class="sidebar-nav navbar-collapse slimscrollsidebar" style="overflow: hidden; width: auto; height: 100%;">
    		 <ul class="nav in" id="side-menu">
				<li class="sidebar-search hidden-sm hidden-md hidden-lg">
				    <!-- input-group -->
				         <div class="input-group custom-search-form">
				             <input type="text" class="form-control" placeholder="Search..."> 
				             <span class="input-group-btn">
								<button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
							</span> 
						</div>                        
			     </li>
	             <li class="user-pro">
	                 <a href="#" class="waves-effect"><img th:src="@{/resources/front/plugins/images/users/{pic1}(pic1=${pic})}" alt="user-img" class="img-circle"> <span class="hide-menu" th:inline="text">[[${name}]]<span class="fa arrow"></span></span>
	                 </a>
	                 <ul class="nav nav-second-level collapse">
	                     <li><a href="javascript:void(0)"><i class="ti-user"></i> My Profile</a></li>
	                     <li><a href="javascript:void(0)"><i class="ti-email"></i> Inbox</a></li>
	                     <li><a href="javascript:void(0)"><i class="ti-settings"></i> Account Setting</a></li>
	                     <li><a href="javascript:void(0)"><i class="fa fa-power-off"></i> Logout</a></li>
	                 </ul>
	             </li>
	             
	            <li class="nav-small-cap m-t-10">--- Main Menu</li>
	            <li> <a href="/dashboard" th:class=" ${page}!='dashboard' ? 'waves-effect' : 'waves-effect active'"><i class="ti-dashboard p-r-10"></i> <span class="hide-menu">Dashboard</span></a> </li>
				<li> <a href="/user-list" th:class=" ${page}!='userlist' ? 'waves-effect' : 'waves-effect active'"><i class="ti-list p-r-10"></i> <span class="hide-menu">User List</span></a> </li>
				<li> <a href="/user-cu" th:class=" ${page}!='usercu' ? 'waves-effect' : 'waves-effect active'"><i class="ti-user p-r-10"></i> <span class="hide-menu">User Create</span></a> </li>
				<!-- <li> <a href="user-update.html" th:class=" ${page}!='userupdate' ? 'waves-effect' : 'waves-effect active'"><i class="ti-user p-r-10"></i> <span class="hide-menu">User Update</span></a> </li> -->
				<li> <a href="/role-list" th:class=" ${page}!='rolelist' ? 'waves-effect' : 'waves-effect active'"><i class="ti-settings p-r-10"></i> <span class="hide-menu">Role List</span></a> </li>
				<li> <a href="/role-cu" th:class=" ${page}!='rolecu' ? 'waves-effect' : 'waves-effect active'"><i class="ti-star p-r-10"></i> <span class="hide-menu">Role CU</span></a> </li>
				<!--  =============-->
			</ul>
		</div>
	<div class="slimScrollBar" style="background: rgb(220, 220, 220); width: 0px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px; height: 436.737px;"></div><div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>